.linew{
    left: -45.8rem;
}

@media screen and (min-width: 1100px) and (max-width: 1175px) {
    .linew{
        left: -24.8rem;
    }
}
@media screen and (min-width: 1176px) and (max-width: 1218px) {
    .linew{
        left: -25.8rem;
    }
}
@media screen and (min-width: 1218px) and (max-width: 1299px) {
    .linew{
        left: -26.8rem;
    }
}
@media screen and (min-width: 1500px) and (max-width: 1536px) {
                .linew{
                    left: -35rem;
                }
}